<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Livetime" lan="" version="0.0.2" date="2017-08-02" compatibility="2.0" installRequired="true" >
	<author name="Arun S. Sekher" url="http://github.com/arunshekher" />
	<summary>A livestamp.js integration plugin for e107.</summary>
	<description lan="">A Livestamp.js integration plugin for e107. Livestamp.js does auto-updating of time on supported time stamps in e107.</description>
	<category>content</category>
	<keywords>
		<word>timestamp</word>
		<word>auto-updating</word>
		<word>livetime</word>
	</keywords>
	<adminLinks>
		<link url='admin_config.php' description='Configure' icon='images/livetime_32.png' iconSmall='images/livetime_16.png' icon128="images/livetime_128.png" primary='true' >LAN_CONGIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name="livetime_active">1</pref>
		<pref name="global_libs">0</pref>
	</pluginPrefs>
</e107Plugin>
